/* button {
    --hover-shadows: 16px 16px 33px #157eaf, -16px -16px 33px #157eaf;
    --accent: #0d455f;
    font-weight: bold;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 1.1em;
    background-color: #569dee;
    cursor: pointer;
    color: white;
    padding: 1em 2em;
    transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
      letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
    box-shadow: 5px 4px 10px #1c1c1c, -5px -4px 10px #262626;
  }
  
  button:hover {
    box-shadow: var(--hover-shadows);
  }
  
  button:active {
    box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
    background-color: var(--accent);
    transform: scale(0.95);
  }
   */