.playfair-display-extralight {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}

::selection {
  /* background-color: ;
    color: ; */
}

html {
  color-scheme: dark light;
}

body {
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  background-color: white;
  color: inherit;
  min-height: 100vh;
  scroll-behavior: smooth;
}

video,
svg,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: inherit;
  letter-spacing: var(--letter-spacing-heading)inherit;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-bottom: 1.5rem;
}

blockquote {
  margin: 0;
  padding: 1rem;
  border-left: 0.25rem solid black;
}

pre {
  margin: 0;
  padding: 1rem;
  overflow-x: auto;
}

code {
  font-size: 0.875rem;
  color: white;
}

.navigation-bar {
  background-color: white;
  display: flex;
  align-items: center;
  /* Center items vertically */
  justify-content: space-between;
  box-shadow: 0 4px 70px 10px rgba(0, 0, 0, 0.2), 0 6px 40px 10px rgba(0, 0, 0, 0.19);

  .user-section {
    z-index: 2;
    display: flex;
    gap: 1rem;
    align-items: center;
    color: black;
    margin-right: 1.5rem;

    & a {
      color: #000000;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.15em;
      font-family: Playfair Display;
      font-weight: 500;
      display: inline-block;
      position: relative;
    }

    a:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #000000;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    a:hover:after {
      width: 100%;
      left: 0;
    }

    @media screen and (max-height: 300px) {
      ul {
        margin-top: 40px;
      }
    }
  }
}

h3 {
  color: black;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.topnav {
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 23px;
  font-family: 'Montserrat';
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
}

/* Scrollbar */
*::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

*::-webkit-scrollbar-track {
  background-color: #1D1E22;
}

*::-webkit-scrollbar-track:hover {
  background-color: #1D1E22;
}

*::-webkit-scrollbar-track:active {
  background-color: #1D1E22;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #666B7A;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #666B7A;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #666B7A;
}

.hero-section {
  width: 100%;
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 74.3%;
    object-fit: cover;
    z-index: -1;
  }

  .gradient {
    position: absolute;
    /* Ensure the gradient covers the video */
    top: 0;
    left: 0;
    width: 100%;
    height: 74.3%;
    background: linear-gradient(180deg, rgba(36, 35, 35, 0), rgba(0, 0, 0, 1));
    /* Adjust the gradient as needed */
    z-index: 0;
    /* Higher than -1 but lower than other elements that should be above the gradient */
    pointer-events: none;
    /* Allows interaction with elements below the gradient */
  }

  h2 {
    font-size: xxx-large;
    margin-bottom: 1rem;
  }

  .header {
    margin: 5.5rem 6rem;
    position: relative;

    h2 {
      margin: 1.5rem 0;
      font-family: "Playfair Display", serif;
      font-weight: lighter;
      letter-spacing: 2px;
    }
  }

  .about {
    color: black;
  }
}

.logo-text {
  display: grid;
  grid-template-columns: repeat(8, 100px);

  img {
    max-width: 95%;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  h3 {
    grid-column-start: 4;
    grid-column-end: 7;
    align-self: center;
  }
}

footer {
  color: black;
}

/* Add styles for input fields and labels */
input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 2px solid blue;
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: 8px 0;
  color: blue;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid blue;
}

label {
  font-family: 'Montserrat', sans-serif;
  color: blue;
  font-weight: 400;
  display: block;
  margin-bottom: 5px;
}

/* Container for the form group to add some padding */
.form-group {
  margin: 20px;
}

/* Style for the submit button */
.submit-btn {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: darkblue;
}

/* Additional styles for the form */
form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}