@import "reset-style.css";

/* BASE STYLES */
:root {
  --clr-dark: #0f172a;
  --clr-light: #f1f5f9;
  --clr-accent: #e11d48;
  --clr-bder: #DADADA;
  --indigo-dye: #08415cff;
  --persian-red: #cc2936ff;
  --tea-rose-red: #ebbab9ff;
  --blue-munsell: #388697ff;
  --aquamarine: #b5ffe1ff;
  --indigo-dye: hsla(199, 84%, 20%, 1);
  --persian-red: hsla(355, 67%, 48%, 1);
  --tea-rose-red: hsla(1, 56%, 82%, 1);
  --blue-munsell: hsla(191, 46%, 41%, 1);
  --aquamarine: hsla(156, 100%, 85%, 1);

}

@keyframes fadeInTranslate {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  word-spacing: 1.4px;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  overflow: hidden;
}

.container {
  background-color: white;
  width: 1000px;
  height: 700px;
  margin: 0 auto;
  font-family: Montserrat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* END OF BASE STYLES */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInTranslate 1.2s;

  & h2 {
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0;
  }

  & p {
    font-size: 13px;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  width: calc(100% - 320px);
  min-width: 320px;

  & img {
    max-width: 30%;
  }

  & label {
    align-self: start;
    padding: 0.5rem 0;
    /* top - right - bottom - left */
    /* top & bottom - left & right */
  }

  & input {
    align-self: start;
    width: 100%;
  }

  & .submit-btn {
    padding: 10px;
    margin: 1rem 0;
    background-color: #08415C;
    border: solid;
    border-width: 2px;
    border-radius: 3%;
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    font-size: 16px;

  }
}

.submit-btn:hover {
  background-color: #62ff7f;
  opacity: 0.9;
  transition: 0.6s;
  display: inline-block;
  text-decoration: none;
}

.submit-btn:active {
  background-color: #35ca3a;
  box-shadow: 0 44x #666;
  transform: translateY(3px);
}


.redbl {
  max-width: 900px;
  position: absolute;
}


.center {
  background: #CC2936;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  z-index: -1;
  top: 600px;
  left: 200px;
  animation: fadeIn 2s;
  overflow: hidden;
}

.center2 {
  background: #08415C;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  z-index: -1;
  top: -70px;
  left: 1200px;
  animation: fadeIn 4s;
  overflow: hidden;
}

/* .img1{
  width: 30%;
  height: 30%;
  position:absolute;
  left: 1200px;
  top: 600px;
} */