/* BASE STYLES */
:root {
  --clr-dark: #0f172a;
  --clr-light: #f1f5f9;
  --clr-accent: #e11d48;
  --clr-bder: #DADADA;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  word-spacing: 1.4px;
  font-family: "Roboto", sans-serif;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 55%;
  height: 700px;
  margin: 0 auto;
  border: 5px solid var(--clr-bder);
  border-radius: 80px;
  font-family: Montserrat;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}



/* END OF BASE STYLES */
.container{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px ;
  align-items: center;
  justify-content: center;
}

.container p{
  grid-area: 2/ 4/ 5/ 7;
}

.container formgroup{
  grid-area: 4/4/4/6;
  display: grid;
}

.container img{
  max-width: 100%;
  grid-area: 2/5/2/5;
}