/* color palette
#D7263D
#02182B 
#0197F6
#448FA3
#68C5DB
*/




.Raleway-display-extralight {
  font-family: "Raleway Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}

html {
  color-scheme: dark light;
}

body {
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  background-color: white;
  color: inherit;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow: scroll;
}

video,
svg,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: inherit;
  letter-spacing: var(--letter-spacing-heading)inherit;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-bottom: 1.5rem;

}

blockquote {
  margin: 0;
  padding: 1rem;
  border-left: 0.25rem solid black;
}

pre {
  margin: 0;
  padding: 1rem;
  overflow-x: auto;
}

code {
  font-size: 0.875rem;
  color: white;
}

.navigation-bar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 70px 10px rgba(0, 0, 0, 0.2), 0 6px 40px 10px rgba(0, 0, 0, 0.19);
}

h3 {
  color: black;
  font-family: 'Raleway Display', serif;
  font-weight: bold;
}

.topnav {
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 23px;
  font-family: 'Raleway Display', serif;
  display: flex;
  align-items: center;
  gap: 1.5rem;/
}

.nav-element,
.dropbtn {
  margin: 0 0.75rem;
}

.dropbtn {
  background: none;
  border: none;
  font-family: 'Raleway Display', serif;
  font-size: 23px;
  color: black;
  margin: 0;
  padding: 20px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo-text {
  display: grid;
  grid-template-columns: repeat(6, 100px);
}


.logo-text p {
  grid-column-start: 4;
  grid-column-end: 7;
  align-self: center;
  font-family: "Raleway Display", serif;
  font-size: 35px;
  color: black;
  margin: 0;
}

footer {
  color: white;
  max-width: 100%;
  height: 400px;
  margin-top: 5rem;
  background-color: #02182B;
}

/* Scrollbar */
*::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

*::-webkit-scrollbar-track {
  background-color: #1D1E22;
}

*::-webkit-scrollbar-track:hover {
  background-color: #1D1E22;
}

*::-webkit-scrollbar-track:active {
  background-color: #1D1E22;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #666B7A;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #666B7A;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #666B7A;
}

.hero-section {
  width: 100%;
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 74.3%;
  object-fit: cover;
  z-index: -1;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 74.3%;
  background: linear-gradient(180deg, rgba(36, 35, 35, 0), rgba(0, 0, 0, 1));
  z-index: 0;
  pointer-events: none;
}

.header {
  margin: 5rem 10rem;
  position: relative;
  gap: 5rem;

  & h2 {
    font-size: 76px;
    letter-spacing: 0.3rem;
    margin-bottom: 1rem;
  }

}

.inner-section {
  z-index: 2;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 0.5rem;
}

.inner-section p {
  margin: 0;
  font-family: "Raleway Display", serif;
}

.inner-section p a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.inner-section p a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: abzlute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.inner-section p a:hover:after {
  width: 100%;
  left: 0;
}


button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 50rem;
  transition: background-size 1s ease;
  background-size: 0% 100%;
}

button:hover {
  color: black;
  background-color: white;
  background-size: 100% 100%;
}

.logo-text {
  display: grid;
  grid-template-columns: repeat(6, 100px);
}

.logo-text img {
  max-width: 95%;
  grid-column-start: 3;
  grid-column-end: 4;
}

.logo-text h3 {
  grid-column-start: 4;
  grid-column-end: 7;
  align-self: center;
}


.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 0px;
}

.user-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navigation-bar .dropdown-content {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-10px);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border: 0.2px solid black;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.website-logo {
  height: 100px;
  margin-right: 10px;
}

.profile-btn .material-symbols-outlined {
  font-size: 48px;
  color: black;
}

.dropbtn {
  background: none;
  border: none;
  font-family: 'Raleway Display', serif;
  font-size: 23px;
  color: black;
  padding: 20px;
  cursor: pointer;
}


.location-header {
  display: grid;
  flex-direction: column;

  & h1 {
    margin-top: 5rem;
    color: black;
    font-family: Raleway Display;
    justify-self: center;
  }
}

.wrapper {
  margin-inline: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-top: 5rem;


  & :hover {
    transform: sca;
  }
}

.box:hover {
  transform: scale(1.05);
}

.box a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: #000;
  transition: width 0.3s ease;
}

.box {
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;


  .img2 {
    margin-top: 4rem;
  }

  & a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-family: "Raleway Display", serif;
    font-weight: 500;
    display: inline-block;
    position: relative;
  }

  a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  a:hover:after {
    width: 40%;
    left: 0;
    transform: scaleX(1);
    transform-origin: center;
  }

  @media screen and (max-height: 300px) {
    ul {
      margin-top: 40px;
    }
  }

  & img {
    justify-self: center;
    display: block;
    max-width: 70%;
    border-radius: 10px;
  }

  & p {
    color: black;
    align-self: center;
    margin: 0;
    font-family: "Raleway Display", serif;

  }
}

.learn-more {
  background-color: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.wrapper .textv