body {
    font-family: Raleway;
}


* {
    margin: 0;
}

h1 {
    margin: 1rem;
    margin-top: 1.5rem;
}

/*navbar*/
.navigation-bar {
    background-color: white;
    display: flex;
    align-items: center;
    /* Center items vertically */
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 4px 70px 10px rgba(0, 0, 0, 0.2), 0 6px 40px 10px rgba(0, 0, 0, 0.19);

    .user-section {
        z-index: 2;
        display: flex;
        gap: 1rem;
        align-items: center;
        color: black;
        margin-right: 2.5rem;

        & a {
            color: #000000;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.15em;
            font-family: Playfair Display;
            font-weight: 500;
            display: inline-block;
            position: relative;
        }

        a:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #000000;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        a:hover:after {
            width: 100%;
            left: 0;
        }

        @media screen and (max-height: 300px) {
            ul {
                margin-top: 40px;
            }
        }
    }
}
/*end of navbar*/


.logo-text {
    display: grid;
    grid-template-columns: repeat(8, 100px);

    img {
        max-width: 95%;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    h3 {
        grid-column-start: 4;
        grid-column-end: 7;
        align-self: center;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 2.5rem;
    border: #0000ff solid;
    overflow-y:auto;
}


.table-container {
    margin: 0 auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
   
}

.scrollable-table {
    max-height: 400px; 
    overflow-y: auto;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-top: 10px;
}

.title-container {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    border: 3px solid;
}

/*testing*/
.dropdown-container {
    margin-left: auto;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid;
    border-color: #012d61; 
}
.dropbtn {
    background-color: #012d61;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: auto;
    width: 100%;
  }

.dropbtn:hover, .dropbtn:focus {
    background-color: #1a4c8a;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: inherit;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    flex-direction: column;
  }

  .show {display: flex;}
  
  .filterbtn {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid;
    border-color: #012d61;
}

.sort {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid;
    border-color: #012d61;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/*Tables*/
.scrollable-table table th {
    position: sticky;
    top: 0;
    background-color: #34689c;
    z-index: 1;
    
}

.doctors,
.customers{
    display:none;
}

.all-accounts {
    display:block;
}

table thead tr {
    background-color: #1a4c8a;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    
}

table th,
table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
    z-index: 1;
    overflow: hidden;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    z-index: 1;
    overflow: hidden;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #1a4c8a;
}

/* Edit and Delete Buttons */
.editBtn,
.editDocBtn,
.delDocBtn,
.delAccBtn {
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.editBtn,
.editDocBtn {
    background-color: #1a4c8a;
}

.delAccBtn,
.delDocBtn {
    background-color: #d9534f;
}

.editBtn:hover,
.editDocBtn:hover {
    background-color: #133b6f;
}

.delAccBtn:hover,
.delDocBtn:hover {
    background-color: #c9302c;
}


.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;

}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.addCustomerBtn,
.addDoctorBtn {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #012d61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addCustomerBtn:hover,
.addDoctorBtn:hover {
    background-color: #1a4c8a;
}