* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', serif;
}

body,
html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    flex-direction: column;
}

/* Animation */
@keyframes fadeInTranslate {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
    }
}


.return {
    display: flex;
    gap: 1rem;
    place-self: flex-start;
    align-items: center;
    animation: fadeInTranslate 0.7s forwards;
    margin: 1rem;
    cursor: pointer;

    & span {
        max-height: 100%;
        max-width: 100%;
        font-size: 15px;
        top: 10px;
    }

    & a {
        max-height: 100%;
        max-width: 100%;
        font-size: 20px;
        color: black;
        color: black;
        text-decoration: none;
        text-align: left;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInTranslate 0.7s forwards;

}

.left-rectangle,
.right-rectangle {
    border: 2px solid rgba(0, 0, 0, 0.185);
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 10px 3px rgba(1, 44, 97, 0.26);

}

.left-rectangle {
    width: 750px;
    height: 750px;
    margin-right: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.logo-with-header {
    display: flex;
    align-items: center;

}

.card img {
    width: 100%;
    height: 60%;
    /* Adjust this height as needed */
    object-fit: cover;
}

.card-content .logo {
    max-width: 15%
}

.card-content {
    padding: 20px;
    flex-grow: 1;
}

.card-content h2 {
    margin-bottom: 15px;
}

.card-content p {
    line-height: 1.6;
}

.right-rectangle {
    width: 450px;
    height: 750px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Logo-Header */
.logo-header {
    display: flex;
    align-items: center;
    align-self: flex-start;

    & p {
        font-size: 3rem;
    }
}


/* form-group styles */
.donation-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.donation-form img {
    width: 25%;
}

.form-group {
    margin-bottom: 22.5px;
}

.form-group label {
    display: block;
    margin-bottom: 7.5px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 7.5px;
}

.submit-btn {
    padding: 15px 30px;
    border: none;
    border-radius: 7.5px;
    color: white;
    background-color: rgb(1, 45, 97);
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #157eaf;
    opacity: 0.9;
    transition: 0.6s;
    display: inline-block;
    text-decoration: none;
}

.submit-btn:active {
    background-color: rgb(1, 45, 97);
    box-shadow: 0 44x #666;
    transform: translateY(3px);
}


/* Modal */


/* modal style */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);


    & .submit-btn {
        padding: 10px;
        margin: 1rem 0;
        background-color: #0f5f85;
        border: solid;
        border-width: 2px;
        border-radius: 3%;
        color: rgb(255, 255, 255);
        text-align: center;
        cursor: pointer;
        font-size: 16px;
    }
}

/* modal content */
.modal-content {
    font-family: Raleway, sans-serif;
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 20px;
}

.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* test */
/* Input container */
.form-group {
    position: relative;
    margin-top: 1rem;
}

/* 
<div class="input-container">
  <input placeholder="Enter text" class="input-field" type="text">
  <label for="input-field" class="input-label">Enter text</label>
  <span class="input-highlight"></span>
</div> */
/* Input field */
.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
}

/* Input label */
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #007bff;
    transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus+.input-label {
    top: -20px;
    font-size: 12px;
    color: #007bff;
}

.input-field:focus+.input-label+.input-highlight {
    width: 100%;
}