html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  background-color: white;
  color: inherit;
  scroll-behavior: smooth;
}



/* Info Section */
.info-section {
  margin: 5rem;
}

.info-header {
  color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-family: "raleway", serif;
  font-weight: 500;
}

.wrapper {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.card {
  width: 190px;
  height: 254px;
  position: relative;
  background: #f5f5f5;
  color: #252525;
  border-radius: 4px;
  overflow: hidden;
  line-height: 150%;
  box-shadow: 0px 10px 20px rgba(80, 80, 80, 0.2);
  transition: box-shadow .3s ease-in-out;
}

.card-info {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
  font-family: 'Raleway', serif;

}

/* Image */
.card-img {
  background: rgb(39, 121, 221);
  height: 100%;
  width: 100%;
  position: absolute;
  transition: transform .3s ease-in-out;
  z-index: 2;
}

/* Buttons */
.social-media {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  transform: translateY(-6em);
  z-index: 3;
  gap: 0.5rem;
}

.social-media li {
  background: #f5f5f5;
  display: inline-flex;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .3s ease-in;
}

/* Icons */
.social-media li svg {
  --size: 24px;
  width: var(--size);
  height: var(--size);
  fill: #252525;
}

/* Texts */
.title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;

}

.subtitle {
  margin: 0;
  letter-spacing: 1px;
  font-size: 0.9em;
}


/* Hovers */
.card:hover {
  box-shadow: 0px 15px 30px rgba(80, 80, 80, 0.3);
}

.card:hover .card-img {
  transform: translateY(-5em);
}

.card:hover .social-media li {
  transform: translateY(-5%);
  opacity: 1;
}

.card:hover .social-media li:nth-child(1) {
  transition-delay: 0s;
}

.card:hover .social-media li:nth-child(2) {
  transition-delay: .1s;
}

.card:hover .social-media li:nth-child(3) {
  transition-delay: .2s;
}

footer {
  color: white;
  max-width: 100%;
  height: 400px;
  margin-top: 5rem;
  background-color: rgb(1, 45, 97);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  align-items: center;
}

.footer-column {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 200px;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer-bottom {
  display: flex;
  width: 100%;
  height: 200px;
  flex-direction: column;
}

.footer-bottom hr {
  place-self: center;
  opacity: 30%;
  width: 80%;
}


.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
  display: inline-block;
}

.fa:hover {
  opacity: 0.7;
}

.social-icon {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.copy-right {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  font-family: "Raleway", serif;
}

.playfair-display-extralight {
  font-family: "Playfair Display", serif;
}

.Raleway-display-extralight {
  font-family: "Raleway", serif;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}

html {
  color-scheme: dark light;
}

video,
svg,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: inherit;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-bottom: 1.5rem;
}

blockquote {
  margin: 0;
  padding: 1rem;
  border-left: 0.25rem solid black;
}

pre {
  margin: 0;
  padding: 1rem;
}

code {
  font-size: 0.875rem;
  color: white;
}

.navigation-bar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 70px 10px rgba(0, 0, 0, 0.2), 0 6px 40px 10px rgba(0, 0, 0, 0.19);
  height: 100px;
}

.user-section {
  z-index: 2;
  display: flex;
  gap: 1rem;
  align-items: center;
  color: black;
  margin-right: 2.5rem;
}

.user-section a {
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-family: Raleway;
  font-weight: 500;
  display: inline-block;
  position: relative;
}

.user-section a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.user-section a:hover:after {
  width: 100%;
  left: 0;
}

.topnav {
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 23px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
}

*::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

*::-webkit-scrollbar-track {
  background-color: #1D1E22;
}

*::-webkit-scrollbar-track:hover {
  background-color: #1D1E22;
}

*::-webkit-scrollbar-track:active {
  background-color: #1D1E22;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #666B7A;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #666B7A;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #666B7A;
}

.hero-section {
  width: 100%;
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-section .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75.3%;
  object-fit: cover;
  z-index: -1;
}

.hero-section .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75.3%;
  background: linear-gradient(180deg, rgba(36, 35, 35, 0), rgba(0, 0, 0, 1));
  z-index: 0;
  pointer-events: none;
}

.hero-section h2 {
  font-size: xxx-large;
  margin-bottom: 1rem;
}

.hero-section .header {
  margin: 7rem 10rem;
  position: relative;
}

.hero-section .header h2 {
  margin: 1.5rem 0;
  font-family: "Raleway Display", serif;
  font-size: 50px;
  font-weight: lighter;
  letter-spacing: 2px;
}

.hero-section .header button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 50rem;
  transition: background-size 1s ease;
  background-size: 0% 100%;
}

.hero-section .header button:hover {
  color: black;
  background-color: white;
  background-size: 100% 100%;
}

.hero-section .about {
  color: black;
}

.logo-text {
  display: grid;
  grid-template-columns: repeat(6, 100px);
}

.logo-text a {
  grid-column-start: 4;
  grid-column-end: 7;
  align-self: center;
  font-family: "Raleway", serif;
  font-size: 35px;
  font-weight: 600;
  color: black;
  margin: 0;
  cursor: pointer;
}

.logo-text img {
  max-width: 95%;
  grid-column-start: 3;
  margin: 0;
}

label {
  font-family: 'Montserrat', sans-serif;
  color: blue;
  font-weight: 400;
  display: block;
  margin-bottom: 5px;
}

.submit-btn:hover {
  background-color: darkblue;
}